{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'generator/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'generator/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="{% static '/generator/js/jQuery.min.js' %}"></script>
    <script src="{% static '/generator/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/generator/js/script.js' %}"></script>

    <title>{% block head_title %}{% endblock %}</title>
</head>
<header>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="fa fa-clock-o"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/createcronjob' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'CreateCronJob' %}">Create Cronjob</a>
                </li>
                <li class="nav-item {% if request.path == '/testcronjob' %}active{% endif %}">
                    <a class="nav-link" href="#">Test Cronjobs</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Register</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </nav>

    <div class="container mt-5">
        <h1 class="disabled mb-5">{% block title %}{% endblock %}</h1>
    </div>
</header>

<body>
{% block content %}
{% endblock %}
</body>

<footer id="sticky-footer" class="py-2 bg-dark text-white-50 fixed-bottom" style="height: 40px;">
    <div class="container text-center">
        <small>Copyright &copy; <a href="mailto:michael.schori@gmx.ch" class="text-white-50">Michael Schori</a></small>
    </div>
</footer>

</html>